<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">
	
	
	<resultMap id="chatMapperResult02" type="MemberVO">
		<result property="userName" column="USERNAME"  />
		<result property="regDate" column="REGDATE"  />
		<result property="userEmail" column="USEREMAIL"  />
		<result property="badcnt" column="BADCNT"  />
		<result property="userTaste1" column="USERTASTE1"  />
		<result property="userTaste2" column="USERTASTE2"  />
		<result property="userTaste3" column="USERTASTE3"  />
	</resultMap>
	
	
	
	 	<!-- 연장 가능한 도서 조회 -->
 	<select id="chat_extendBook" parameterType="hashmap" resultType="hashmap">
 		select A.BOOKNAME, B.BOOKNUMBER, TO_CHAR(b.rentdate, 'YYYY-MM-DD') as rentdate, TO_CHAR(b.returndate,'YYYY-MM-DD') as returndate, b.state, b.rreturndate
		from B_BOOK_LIB A, B_BOOK_RENT B
		where A.BOOKNUMBER=B.BOOKNUMBER and B.userid=#{user_id} and A.BOOKNUMBER = #{bookNumber}  and B.state = '대출중'
 	</select>
	
	
	 	<!-- 채팅을 통한 대출현황 조회 -->
 	<select id="chat_rentstatus" parameterType="String" resultType="hashmap">
 		select A.BOOKNAME, B.BOOKNUMBER, TO_CHAR(b.rentdate, 'YYYY-MM-DD') as rentdate, TO_CHAR(b.returndate,'YYYY-MM-DD') as returndate, b.state, b.rreturndate
		from B_BOOK_LIB A, B_BOOK_RENT B
		where A.BOOKNUMBER=B.BOOKNUMBER and B.userid=#{user_id} and B.state = '대출중'
 	</select>
	
	
	<select id="searchMember" resultMap="chatMapperResult02" parameterType="String"> 
      <![CDATA[
         select USERNAME, REGDATE, USEREMAIL, BADCNT, USERTASTE1, USERTASTE2, USERTASTE3
         from  U_USER_INFO
      ]]>
		<where>
			<if test=" value != ''  and  value != null">
				USERID = #{value}
			</if>
		</where>
	</select>
	<!-- 

	<select id="searchList" resultMap="hmp001_d001Result01" parameterType="java.util.Map"> 
      <![CDATA[
         select id, pwd, name, email, joinDate, num
         from   t_member
      ]]>
		<where>
			<if test=" p_id != ''  and  p_id != null">
				id = #{p_id}
			</if>
		</where>
	</select>

	<select id="searchMod" resultMap="hmp001_d001Result01" parameterType="java.util.Map"> 
      <![CDATA[
         select id, pwd, name, email, joinDate, num
         from   t_member
      ]]>
		<where>
			<if test=" p_id != ''  and  p_id != null">
				id = #{p_id}
			</if>
		</where>
	</select>
	
	<update id="updateMember" parameterType="java.util.Map">
		update t_member
		set  pwd = #{pwd}
		   , name = #{name}
		   , email = #{email}
		   , joinDate = #{joinDate}
		   , num = #{num, jdbcType=NUMERIC}
		where id = #{id}
	</update>
	
	<insert id="insertMember" parameterType="java.util.Map">
		insert into t_member(id, pwd, name, email) values(#{id}, #{pwd}, #{name}, #{email})
	</insert>	
 -->
</mapper>