<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">


	<resultMap id="chatMapperResult01" type="BookVO">
		<result property="book_id" column="book_id"  />
		<result property="book_isborrowed" column="book_isborrowed" />
	</resultMap>
	
	
	<resultMap id="chatMapperResult02" type="MemberVO">
		<result property="mem_id" column="mem_id"  />
		<result property="mem_bookcount" column="mem_bookcount" />
	</resultMap>
	
	
	<select id="searchMember" resultMap="chatMapperResult02" parameterType="String"> 
      <![CDATA[
         select mem_id, mem_bookcount
         from   t_member
      ]]>
		<where>
			<if test=" value != ''  and  value != null">
				mem_id = #{value}
			</if>
		</where>
	</select>
	<!-- 

	<select id="searchList" resultMap="hmp001_d001Result01" parameterType="java.util.Map"> 
      <![CDATA[
         select id, pwd, name, email, joinDate, num
         from   t_member
      ]]>
		<where>
			<if test=" p_id != ''  and  p_id != null">
				id = #{p_id}
			</if>
		</where>
	</select>

	<select id="searchMod" resultMap="hmp001_d001Result01" parameterType="java.util.Map"> 
      <![CDATA[
         select id, pwd, name, email, joinDate, num
         from   t_member
      ]]>
		<where>
			<if test=" p_id != ''  and  p_id != null">
				id = #{p_id}
			</if>
		</where>
	</select>
	
	<update id="updateMember" parameterType="java.util.Map">
		update t_member
		set  pwd = #{pwd}
		   , name = #{name}
		   , email = #{email}
		   , joinDate = #{joinDate}
		   , num = #{num, jdbcType=NUMERIC}
		where id = #{id}
	</update>
	
	<insert id="insertMember" parameterType="java.util.Map">
		insert into t_member(id, pwd, name, email) values(#{id}, #{pwd}, #{name}, #{email})
	</insert>	
 -->
</mapper>