<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">
	
	
	<resultMap id="chatMapperResult02" type="MemberVO">
		<result property="userName" column="USERNAME"  />
		<result property="regDate" column="REGDATE"  />
		<result property="userEmail" column="USEREMAIL"  />
		<result property="badcnt" column="BADCNT"  />
		<result property="userTaste1" column="USERTASTE1"  />
		<result property="userTaste2" column="USERTASTE2"  />
		<result property="userTaste3" column="USERTASTE3"  />
	</resultMap>
	
	
	<resultMap id="randomBook" type="BookVO">
		<result property="bookName" column="BOOKNAME"  />
		<result property="bookContents" column="BOOKCONTENTS"  />
		<result property="bookWriter" column="BOOKWRITER"  />
		<result property="bookGenre" column="BOOKGENRE"  />
		<result property="bookThum" column="BOOKTHUM"  />
	</resultMap>
	
	
	<resultMap id="chatLogFile" type="java.util.HashMap">
		<result property="logFile" column="LOGFILE" javaType="[B" jdbcType="BLOB"></result>
	</resultMap>
	
	
	<resultMap id="chat_logCount_Map" type="java.util.HashMap">
		<result property="totalID" column="TOTAL_USER_COUNT"></result>
		<result property="todayID" column="TODAY_USER_COUNT"></result>
		<result property="logCount" column="TOTAL_DIAL_COUNT"></result>
		<result property="failCount" column="FAIL_DIAL_COUNT"></result>
	</resultMap>
	
	
	<resultMap id="chat_logInt_map" type="IntentVO">
		<result property="intName" column="INT_NAME"></result>
		<result property="intCount" column="INT_COUNT"></result>
	</resultMap>
	
	
	<resultMap id="chat_logEnt_map" type="EntityVO">
		<result property="entName" column="ENT_NAME"></result>
		<result property="entCount" column="ENT_COUNT"></result>
	</resultMap>
	
	
	<resultMap id="chat_logDial_map" type="DialVO">
		<result property="dialDate" column="DIAL_DATE"></result>
		<result property="dialCount" column="DIAL_COUNT"></result>
	</resultMap>
	
	
	<!-- 통합지표 SELECT -->
	<select id="chat_logCount_s" resultMap = "chat_logCount_Map">
		select *
		    from(
		        select *
		        from c_log_counts
		        order by rownum desc
		        )
		where rownum = 1
	</select>
	
	
	
	<!-- Top Intent SELECT -->
	<select id="chat_logInt_s"  resultMap = "chat_logInt_map" >
		select int_name, int_count
		from C_LOG_INTENTS
		where to_char(INT_DATE,'YYYYMMDD') =(
		                select
		                to_char(sysdate,'YYYYMMDD')
		                from dual
		            )
		order by INT_rank asc
	</select>
	
	
	<!-- Top Entity SELECT -->
	<select id="chat_logEnt_s"  resultMap = "chat_logEnt_map" >
		select ent_name, ent_count
		from C_LOG_ENTITIES
		where to_char(ENT_DATE,'YYYYMMDD') =(
		                select
		                to_char(sysdate,'YYYYMMDD')
		                from dual
		            )
		order by ent_rank asc
	</select>
	
	
	<!-- 입별 Dialogue 수 SELECT -->
	<select id="chat_logDial_s"  resultMap = "chat_logDial_map" >
		select dial_date, dial_count
		from c_log_dial order by dial_date
	</select>
	
	


	<!-- 통합지표 insert -->
	<insert id="chat_logCount" parameterType="java.util.Map">
		INSERT INTO C_LOG_COUNTS 
		VALUES(C_LOG_COUNTS_SEQ.NEXTVAL, 
		        SYSDATE,
		        #{totalUserCount},
		        #{todayUserCount},
		        #{todayDialCount},
		        #{failDialCount}
        )	
	</insert>
	
	
	<!-- Top Intent Insert -->
	<insert id="chat_logInt" parameterType="java.util.Map">
		INSERT INTO C_LOG_INTENTS 
		VALUES(C_LOG_INTENTS_SEQ.NEXTVAL, 
		        SYSDATE,
		        #{intRank},
		        #{intName},
		        #{intCount}
		        )
	</insert>


	<!-- Top Entity Insert -->
	<insert id="chat_logEnt" parameterType="java.util.Map">
		INSERT INTO C_LOG_ENTITIES 
		VALUES(C_LOG_ENTITIES_SEQ.NEXTVAL, 
		        SYSDATE,
		        #{entRank},
		        #{entName},
		        #{entCount}
		        )
	</insert>


	<!-- 입별 Dialogue 수 Insert -->
	<insert id="chat_logDial" parameterType="java.util.Map">
		insert into C_LOG_DIAL
		select C_LOG_DIAL_SEQ.NEXTVAL,  #{dialDate}, #{dialCount}
		from dual
		where #{dialDate} = (SELECT TO_CHAR(SYSDATE,'MM-DD')
		                FROM DUAL
		                )	
	</insert>
	
	
	
	<!-- LOG 파일을 가져오는 select -->
	<select id="chat_getLogFile" resultMap = "chatLogFile">
		SELECT * FROM(SELECT LOGFILE 
    			FROM C_LOG_FILE
    			ORDER BY SAVEDATE DESC)
		WHERE ROWNUM = 1
	</select>
	
	
	
	<!-- log 파일을 C_LOG_FILE에 넣는 쿼리 -->
	<insert id="chat_saveLogFile" parameterType="java.util.Map">
		INSERT INTO C_LOG_FILE VALUES(C_LOG_FILE_SEQ.NEXTVAL, #{logFile}, SYSDATE)
	</insert>
	
	
	<!-- 신간 정보를 가져오는 select -->
	<select id="index_getRatestBook" resultMap = "randomBook">
		SELECT * FROM(SELECT * 
    			FROM B_BOOK_LIB
    			ORDER BY BOOKDATE DESC)
		WHERE ROWNUM = 1
	</select>
	
	
	
	<!-- 오늘의 책 사진 select
 	<select id="index_getTodayBookImage" resultMap="clobMapRandom">
 		SELECT * FROM(SELECT BOOKTHUM 
    			FROM I_TODAY_BOOK
    			ORDER BY TODAYID DESC)
		WHERE ROWNUM = 1
 	</select> -->
	
	
	<!-- 가장 많이 빌려간 도서 정보를 가져오는 쿼리 -->
	<select id="index_getTodayBook" resultMap = "randomBook">
		SELECT * 
			FROM B_BOOK_LIB blib, (SELECT booknumber, count(booknumber) a 
			                    from b_book_rent
			                    group by booknumber
			                    order by a desc) brent
			WHERE ROWNUM = 1
			and blib.booknumber = brent.booknumber
	</select>
	
	
	<!-- 랜덤 인덱스의 책 정보를 넣는 쿼리 -->
	<insert id="index_insertRandomBook" parameterType="bookVO">
		 insert into I_TODAY_BOOK(TODAYID, BOOKNAME, BOOKCONTENTS, BOOKWRITER, BOOKGENRE, BOOKTHUM, REGDATE)
  		 values(I_TODAY_BOOK_SEQ.nextval, #{bookName},#{bookContents, jdbcType=VARCHAR},#{bookWriter},#{bookGenre}, #{bookThum, jdbcType=BLOB}, SYSDATE)
	</insert>
	
	
	<!-- 랜덤 인덱스의 책 정보를 가져오는 쿼리 -->
	<select id="index_getRandomBook" parameterType="int" resultMap = "randomBook" >
		select * from (select BOOKNAME,BOOKCONTENTS,BOOKWRITER, BOOKGENRE, BOOKTHUM, rownum as num from B_BOOK_LIB order by ISBN asc) a
		 where a.num = #{randomIndex}
	</select>
	
	
	 	<!-- 연장 가능한 도서 조회 -->
 	<select id="chat_extendBook" parameterType="hashmap" resultType="hashmap">
 		select A.BOOKNAME, B.BOOKNUMBER, TO_CHAR(b.rentdate, 'YYYY-MM-DD') as rentdate, TO_CHAR(b.returndate,'YYYY-MM-DD') as returndate, b.state, b.rreturndate
		from B_BOOK_LIB A, B_BOOK_RENT B
		where A.BOOKNUMBER=B.BOOKNUMBER and B.userid=#{user_id} and A.BOOKNUMBER = #{bookNumber}  and B.state = '대출중'
 	</select>
	
	
	<!-- 채팅을 통한 대출현황 조회 -->
 	<select id="chat_rentstatus" parameterType="String" resultType="hashmap">
 		select A.BOOKNAME, B.BOOKNUMBER, TO_CHAR(b.rentdate, 'YYYY-MM-DD') as rentdate, TO_CHAR(b.returndate,'YYYY-MM-DD') as returndate, b.state, b.rreturndate
		from B_BOOK_LIB A, B_BOOK_RENT B
		where A.BOOKNUMBER=B.BOOKNUMBER and B.userid=#{user_id} and (B.state = '대출중' or B.state = '연체중')
 	</select>
	
	
	<select id="searchMember" resultMap="chatMapperResult02" parameterType="String"> 
      <![CDATA[
         select USERNAME, REGDATE, USEREMAIL, BADCNT, USERTASTE1, USERTASTE2, USERTASTE3
         from  U_USER_INFO
      ]]>
		<where>
			<if test=" value != ''  and  value != null">
				USERID = #{value}
			</if>
		</where>
	</select>
	<!-- 

	<select id="searchList" resultMap="hmp001_d001Result01" parameterType="java.util.Map"> 
      <![CDATA[
         select id, pwd, name, email, joinDate, num
         from   t_member
      ]]>
		<where>
			<if test=" p_id != ''  and  p_id != null">
				id = #{p_id}
			</if>
		</where>
	</select>

	<select id="searchMod" resultMap="hmp001_d001Result01" parameterType="java.util.Map"> 
      <![CDATA[
         select id, pwd, name, email, joinDate, num
         from   t_member
      ]]>
		<where>
			<if test=" p_id != ''  and  p_id != null">
				id = #{p_id}
			</if>
		</where>
	</select>
	
	<update id="updateMember" parameterType="java.util.Map">
		update t_member
		set  pwd = #{pwd}
		   , name = #{name}
		   , email = #{email}
		   , joinDate = #{joinDate}
		   , num = #{num, jdbcType=NUMERIC}
		where id = #{id}
	</update>
	
	<insert id="insertMember" parameterType="java.util.Map">
		insert into t_member(id, pwd, name, email) values(#{id}, #{pwd}, #{name}, #{email})
	</insert>	
 -->
</mapper>