<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="register" parameterType="org.team.bpg.member.vo.MemberVO">
	    insert into U_USER_INFO(bno, userid, userpass, username, useremail, userage, usergender, usertaste1, usertaste2, usertaste3 )
	                  values(member_seq.nextval, #{userId}, #{userPass}, #{userName}, #{userEmail}, #{userAge}, #{userGender}, #{userTaste1}, #{userTaste2}, #{userTaste3} )
   
    </insert>
   
   <!-- 로그인 -->
	<select id="login" resultType="org.team.bpg.member.vo.MemberVO">
		select userid, userpass 
		  from U_USER_INFO
		 where userid = #{userId}
		   and userpass = #{userPass}   
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		update U_USER_INFO set 
		userpass = #{userPass},
		username = #{userName},
		useremail = #{userEmail},
		userage = #{userAge},
		usergender = #{userGender},
		usertaste1 = #{userTaste1},
		usertaste2 = #{userTaste2},
		usertaste3 = #{userTaste3}
		where userid = #{userId}
	</update>
	
	<!-- 회원탈퇴 -->
<delete id="memberDelete">
	DELETE FROM U_USER_INFO
	WHERE USERID = #{userId}
	  AND USERPASS = #{userPass} 
</delete>

<!-- 패스워드 체크 -->
<select id="passChk" resultType="int">
	SELECT COUNT(*) FROM U_USER_INFO
	WHERE USERID = #{userId}
	  AND USERPASS = #{userPass}
</select>

	<!-- 아이디 중복 체크 -->
<select id="idChk" resultType="int" parameterType="org.team.bpg.member.vo.MemberVO">
	SELECT COUNT(*) FROM U_USER_INFO
	WHERE USERID = #{userId}
</select>

	<!-- 관리자 회원삭제 -->
<delete id="adminDelete" parameterType="String">
	DELETE FROM U_USER_INFO
	WHERE USERID = #{userId} 
</delete>


	<!-- 게시판 목록 -->
<select id="listPage" resultType="org.team.bpg.member.vo.BoardVO" parameterType="org.team.bpg.member.vo.Criteria">
	select bno, userid, userpass, username, useremail, userage, usergender, usertaste1, usertaste2, usertaste3, regdate
		 FROM ( 
		 	select bno, userid, userpass, username, useremail, userage, usergender, usertaste1, usertaste2, usertaste3, regdate, 
		               row_number() over(order by bno desc) as rnum
		         from U_USER_INFO 
		           WHERE 1=1 
		         	<include refid="search"></include>
		                       ) mp
		where rnum between #{rowStart} and #{rowEnd}

</select>

<select id="listCount" resultType="int">

		select count(bno)
		  from U_USER_INFO
		   WHERE 1=1
		  <include refid="search"></include>
		 and bno > 0

	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND userId LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND userName LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND userEmail LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND  LIKE '%' || #{keyword} || '%'</if>
			<!-- <if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if> -->
		</if>
	</sql>
</mapper>

