<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<typeAliases>
		<typeAlias type="org.team.bpg.com.esta.vo.ComInfoVO" alias="comInfoVo"/>
		<typeAlias type="org.team.bpg.chat.vo.BookVO" alias="BookVO"/>
		<typeAlias type="org.team.bpg.chat.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="org.team.bpg.book.VO.BookInfoVO" alias="bookInfoVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="./mappers/ComEstaMapper.xml"></mapper>
		<mapper resource="./mappers/chatMapper.xml"></mapper>
	</mappers>

</configuration>
