<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<typeAliases>
		<typeAlias type="org.team.bpg.com.esta.vo.ComInfoVO" alias="comInfoVo"/>
		<typeAlias type="org.team.bpg.com.act.vo.ComMemberVO" alias="comMemberVo"/>
		<typeAlias type="org.team.bpg.com.act.vo.BoardInfoVO" alias="boardInfoVo"/>
		<typeAlias type="org.team.bpg.com.act.vo.ArticleInfoVO" alias="articleInfoVo"/>
		<typeAlias type="org.team.bpg.com.act.vo.ReplyInfoVO" alias="replyInfoVo"/>
		<typeAlias type="org.team.bpg.com.act.vo.VoteInfoVO" alias="voteInfoVo"/>
		<typeAlias type="org.team.bpg.mylib.dec.vo.DeclareInfoVO" alias="declareInfoVo"/>
		<typeAlias type="org.team.bpg.chat.vo.BookVO" alias="BookVO"/>
		<typeAlias type="org.team.bpg.member.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="org.team.bpg.book.VO.BookInfoVO" alias="bookInfoVO"/>
		<typeAlias type="org.team.bpg.chat.vo.IntentVO" alias="IntentVO"/>
		<typeAlias type="org.team.bpg.chat.vo.EntityVO" alias="EntityVO"/>
		<typeAlias type="org.team.bpg.chat.vo.DialVO" alias="DialVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="./mappers/ComEstaMapper.xml"></mapper>
		<mapper resource="./mappers/ComActMapper.xml"></mapper>
		<mapper resource="./mappers/chatMapper.xml"></mapper>
		<mapper resource="./mappers/BookMapper.xml"></mapper>
		<mapper resource="./mappers/memberMapper.xml"></mapper>
		<mapper resource="./mappers/DeclareMapper.xml"></mapper>
		
		
	</mappers>

</configuration>
